---
import Layout from '../layouts/Layout.astro'
import Badge from '../components/Badge.astro'
import LinkedInIcon from '../components/icons/LinkedIn.astro'
import SocialPill from '../components/SocialPill.astro'
import GitHubIcon from '../components/icons/GitHub.astro'
import MailIcon from '../components/icons/Mail.astro'
import SectionContainer from '../components/SectionContainer.astro'
---
<Layout title="Portfolio de Gerson - Desarrollador y programador web" description='Contrata a Gerson para crear tu aplicación web. Desarrollador web. Especializado en crear aaplicaciones únicas.'>
	<main>
		<SectionContainer>
			<img
			class="rounded-full size-12 mb-4"
			src="https://static-cdn.jtvnw.net/jtv_user_pictures/5a72c3d9-424a-40a6-bf23-73370cd85578-profile_image-300x300.png"
			alt="I photo" />
				<h1 class="text-white text-5xl font-bold flex  flex-row gap-x-4 pb-4">
					Hey, soy Gerson <a rel="noopener" target="_blank" href="https://www.linkedin.com/in/gerson-emanuel-garcia-roman-031866234" class="flex justify-center items-center">
							<Badge>Disponible para trabajar</Badge></a>
				</h1>
				<h2 class="text-2xl opacity-80 text-wrap">Desarrollador Web de <span class="text-red-100/90">México.</span> <span class="opacity-70">Especalizado en crear aplicaciones únicas</span></h2>
				<nav class="flex gap-x-4 mt-8">
					<SocialPill href='https://www.linkedin.com/in/gerson-emanuel-garcia-roman-031866234'>
						<LinkedInIcon class="size-6" /> LinkedIn
					</SocialPill>
					<SocialPill href="https://github.com/GersonGarciaKatowhu">
						<GitHubIcon class="size-6"/>GitHub
					</SocialPill>
					<SocialPill>
						<MailIcon  class="size-6"/>garcia.roman.gerson@gmail.com
					</SocialPill>
				</nav>
			</SectionContainer>
		</main>
</Layout>